{% extends "base.html" %}
<head>
    {% block title %}
        <title>View Our Albums - MyMusicMaestro</title>
    {% endblock title %}
</head>
{% block content %}
    <style>
        img, td, h1 {margin-left: 30px;}
        td, th {font-size: 20px;}
    </style>
    <body>
        <h1>Our Albums</h1>
        {% if albums %}
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>No. of Comments</th>
                    </tr>
                </thead>
                <tbody>
                    {% for album in albums %}
                        <tr>
                            <td><img src="/{{album.cover}}" style="width:140px;height:auto;""></td>
                            <td><a href="/albums/{{ album.id }}/">{{ album.title }}</a></td>
                            <td>{{ album.artist }}</td>
                            <td>{{ album.comment_count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>There are no albums in the database</p>
        {% endif %}
        <br>
        <a href="/albums/new/" style="font-size:20px; margin-left: 30px;">Create a new album</a>
    </body>
</html>
{% endblock content %}