{% extends "base.html" %}
{% load i18n %}

<head>
    {% block title %}
        <title>{% trans 'IndexTitle' %} - MyMusicMaestro</title>
    {% endblock title %}
</head>
{% block content %}
    <style>
        img, td, h1 {margin-left: 30px;}
        td, th {font-size: 20px;}
    </style>
    <body>
        <h1>{% trans 'IndexTitle' %}</h1>
        {% if albums %}
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>{% trans 'IndexTitle' %}</th>
                        <th>{% trans 'IndexArtist' %}</th>
                        <th>{% trans 'IndexComments' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for album in albums %}
                        <tr>
                            <td><img src="/{{album.cover}}" style="width:140px;height:auto;""></td>
                            <td><a href="/albums/{{ album.id }}/">{{ album.title }}</a></td>
                            <td>{{ album.artist }}</td>
                            <td>{{ album.comment_count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{% trans 'IndexNoAlbums' %}</p>
        {% endif %}
        <br>
        <a href="/albums/new/" style="font-size:20px; margin-left: 30px;">{% trans 'CreateNew' %}</a>
    </body>
</html>
{% endblock content %}