{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block title %}
        <title>View Our Albums - MyMusicMaestro</title>
        {% endblock title %}
    </head>
    {% block content %}
    <style>
        td, h1, a {margin-left: 30px;}
    </style>
    <body>
        <h1>All Our Albums</h1>
        {% if albums %}
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>No. of Comments</th>
                    </tr>
                </thead>
                <tbody>
                    {% for album in albums %}
                        <tr>
                            <td><img src="/{{album.cover}}" style="width:100px;height:auto;""></td>
                            <td><a href="/albums/{{ album.id }}/">{{ album.title }}</a></td>
                            <td>{{ album.artist }}</td>
                            <td>{{ album.comment_count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>There are no albums in the database</p>
        {% endif %}
        <br>
        <a href="/albums/new/">Create a new album</a>
        <br>
    </body>
</html>
{% endblock content %}