{% extends "base.html" %}
{% load i18n %}

{% block title %}
    <title>{% trans 'NewAlbum' %} - MyMusicMaestro</title>
{% endblock title %}

{% block content %}
<style>
    label, input, textarea, h1, h4, p {margin-left: 30px}
    .required {color:red}
</style>
<form action="/albums/new/" method="post">
    <p><a href='/albums/'>{% trans 'Back' %}</a></p>
    <h1>{% trans 'New Album' %}</h1>
    <h4>(<span class="required">*</span> {% trans 'IsRequired' %})</h4>
    {% csrf_token %}
    
    <label for="artist">{% trans 'Artist' %}<span class="required">*</span>: </label>
    <br>

    <input id="artist" type="text" name="Artist" value="">
    <br>

    <label for="title">{% trans 'Title' %}<span class="required">*</span>: </label>
    <br>

    <input id="title" type="text" name="Title" value="">
    <br>

    <label for="price">{% trans 'Price' %}<span class="required">*</span>: </label>
    <br>

    <input id="price" type="decimal" name="Price" value="">
    <br>

    <label for="cover">{% trans 'Cover' %}: </label>
    <br>

    <input id="cover" type="text" name="Cover" value="/media/">
    <br>

    <label for="description">{% trans 'Description' %}: </label>
    <br>
    <textarea id="description" rows="3" cols="20" 
    name="Description"></textarea>
    <br>

    <label for="format">{% trans 'Format' %}: </label>
        <br>
        <select name="format" id="format" style="margin-left:30px">
            <option value="default"></option>
            <option value="DigitalDownload">{% trans 'DigitalDownload' %}</option>
            <option value="CD">{% trans 'CD' %}</option>
            <option value="Vinyl">{% trans 'Vinyl' %}</option>
        </select>
        <br>

    <label for="release_date">{% trans 'ReleaseDate' %}: (YYYY-MM-DD)</label>
    <br>

    <input id="release_date" type="text" name="Release_Date" value="">
    <br>
    <br>

    <input type="submit" value="OK">
    <br><br>
</form>
{% endblock content %}