{% extends "base.html" %}
{% load i18n %}

    <head>
        {% block title %}
        <title>{{ album.title }} - MyMusicMaestro</title>
        {% endblock title %}
    </head>
    {% block content %}
    <style>
        h1, h2, h3, h4, img, p {margin-left: 30px;}
        .container {
            display: flex;
            align-items: center;
        }
        .container img {
            max-width: 100%;
            margin-right: 20px;
        }
        .text-on-right {
            flex: 1;
        }
    </style>
    <body>
        <p><a href='/albums/'>{% trans 'Back' %}</a></p>

        {% if user.is_authenticated %}
            <h3>Like this album? Click <a href="/recommend-a-friend?album={{ album.id }}">here</a> to recommend this to a friend</h3>
        {% endif %}
        <h1> {{album.title}} </h1>
        <div class="container">
            <img src="/{{album.cover}}" style="width:400px;height:auto;">
            <div class="text-on-right">
                <h3>{% trans 'Songs' %}:</h3>
                {% for song in songs %}
                    <h4> {{ song.title }} - {{ song.runtime }}s</h4>
                {% endfor %}
            </div>
        </div>
        <h3> {% trans 'By' %} {{album.artist}} </h3>
        <h3>{% trans 'Format' %}: {{album.format}}</h3>
        <h3>{% trans 'Price' %}: £{{album.price}}</h3>
        <h3>{% trans 'ReleaseDate' %}: {{album.release_date}}</h3>
        <h4>{% trans 'Description' %}: {{album.description}}</h4>
        <br><br>
        <h2>{% trans 'Comments' %}</h2>
        <br>
        {% for comment in comments %}
            <h4>{{ comment.user.display_name }}</h4>
            <p>{{ comment.message }}</p>
            <br>
        {% endfor %}
        <p><a href='/albums/'>{% trans 'Back' %}</a></p>
    </body>
    {% endblock content %}
</html>