{% extends "base.html" %}
{% load i18n %}

{% block title %}
    <title>{% trans 'ContactTitle' %} - MyMusicMaestro</title>
{% endblock title %}

{% block content %}

<!-- Contact Section -->
<div class="w3-container w3-padding-large w3-grey">
    <h4 id="contact"><b>{% trans 'ContactTitle' %}</b></h4>
    <div class="w3-row-padding w3-center w3-padding-24" style="margin:0 -16px">
      <div class="w3-third w3-dark-grey">
        <p><i class="fa fa-envelope w3-xxlarge w3-text-light-grey"></i></p>
        <p>mymusicmaestro@example.com</p>
      </div>
      <div class="w3-third w3-teal">
        <p><i class="fa fa-map-marker w3-xxlarge w3-text-light-grey"></i></p>
        <p>Guildford, UK</p>
      </div>
      <div class="w3-third w3-dark-grey">
        <p><i class="fa fa-phone w3-xxlarge w3-text-light-grey"></i></p>
        <p>01483 123456</p>
      </div>
    </div>
  </div>

{% endblock content %}