{% extends "base.html" %}

{% block title %}
    <title>Home - MyMusicMaestro</title>
{% endblock title%}


{% block content %}
<style>
    h1, h4 {margin-left: 30px;}
</style>

    <br>
    <h1>Welcome to MyMusicMaestro</h1>
    <h4>MyMusicMaestro is used to catalogue all your favourite albums.</h4>
    <h4><a href="/albums/">See the albums that we have</a></h4>
    <br>
    <br>
    <h4>If you have any questions feel free to <a href="/contact/">contact us</a></h4>
    <br>

{% endblock content %}